In [4]:
import pandas as pd

# Load the CSV
pauls_df = pd.read_csv("statistics pauls.csv")
jurmala_df = pd.read_csv("statistics jurmala.csv")
metc_df = pd.read_csv("statistics metc.csv")

In [5]:
pauls_df.head()

,filename,location,num_annotators,time_h,time_min,time_sec,total_duration,washing_duration,movement_1,movement_2,movement_3,movement_4,movement_5,movement_6,movement_7,movement_0,ring,armband,long_nails
0,2020-06-26_18-28-10_camera102.csv,DataSet1,4,18,28,10,43.5,32.71.1,2.4,2.1,1.5,6.6,3.9,0.0,15.0,0,0,0,NaN
1,2020-06-26_19-05-32_camera102.csv,DataSet1,4,19,5,32,53.5,31.63.4,1.9,2.0,0.0,3.7,0.0,0.0,20.6,0,0,0,NaN
2,2020-06-26_19-39-32_camera102.csv,DataSet1,4,19,39,32,185.8,143.015.8,6.3,26.2,18.7,29.7,1.8,0.0,44.5,0,0,0,NaN
3,2020-06-26_19-42-41_camera102.csv,DataSet1,3,19,42,41,27.7,27.50.8,1.7,0.0,0.0,0.0,0.0,0.0,25.1,0,0,0,NaN
4,2020-06-26_20-09-27_camera102.csv,DataSet1,4,20,9,27,63.1,42.65.3,5.3,3.0,5.3,6.3,2.3,0.0,15.0,0,0,0,NaN

In [6]:
import re
pauls_df["washing_duration_"]=pauls_df["washing_duration"].astype(str).apply(
    lambda x: round(float(re.match(r'\d+\.\d+', x).group()),1) if re.match(r'\d+\.\d+', x) else None)

pauls_df[["washing_duration","washing_duration_"]].head()

  washing_duration  washing_duration_
0          32.71.1               32.7
1          31.63.4               31.6
2        143.015.8              143.0
3          27.50.8               27.5
4          42.65.3               42.6

In [7]:
pauls_df.head()

,filename,location,num_annotators,time_h,time_min,time_sec,total_duration,washing_duration,movement_1,movement_2,movement_3,movement_4,movement_5,movement_6,movement_7,movement_0,ring,armband,long_nails,washing_duration_
0,2020-06-26_18-28-10_camera102.csv,DataSet1,4,18,28,10,43.5,32.71.1,2.4,2.1,1.5,6.6,3.9,0.0,15.0,0,0,0,NaN,32.7
1,2020-06-26_19-05-32_camera102.csv,DataSet1,4,19,5,32,53.5,31.63.4,1.9,2.0,0.0,3.7,0.0,0.0,20.6,0,0,0,NaN,31.6
2,2020-06-26_19-39-32_camera102.csv,DataSet1,4,19,39,32,185.8,143.015.8,6.3,26.2,18.7,29.7,1.8,0.0,44.5,0,0,0,NaN,143.0
3,2020-06-26_19-42-41_camera102.csv,DataSet1,3,19,42,41,27.7,27.50.8,1.7,0.0,0.0,0.0,0.0,0.0,25.1,0,0,0,NaN,27.5
4,2020-06-26_20-09-27_camera102.csv,DataSet1,4,20,9,27,63.1,42.65.3,5.3,3.0,5.3,6.3,2.3,0.0,15.0,0,0,0,NaN,42.6