# Importing the Data
Import the data from Zenodo

In [1]:
import pandas as pd

pauls_url = "https://zenodo.org/records/4537209/files/statistics.csv"
jurmala_url = "https://zenodo.org/records/5808764/files/statistics.csv"
metc_url = "https://zenodo.org/records/5808789/files/statistics.csv"

pauls_df = pd.read_csv(pauls_url)
jurmala_df = pd.read_csv(jurmala_url)
metc_df = pd.read_csv(metc_url)

Checking the data out

In [2]:
print("Pauls")
print(pauls_df.shape)
pauls_df.head()

Pauls
(3185, 19)

,filename,location,num_annotators,time_h,time_min,time_sec,total_duration,washing_duration,movement_1,movement_2,movement_3,movement_4,movement_5,movement_6,movement_7,movement_0,ring,armband,long_nails
0,2020-06-26_18-28-10_camera102.csv,DataSet1,4,18,28,10,43.5,32.71.1,2.4,2.1,1.5,6.6,3.9,0.0,15.0,0,0,0,NaN
1,2020-06-26_19-05-32_camera102.csv,DataSet1,4,19,5,32,53.5,31.63.4,1.9,2.0,0.0,3.7,0.0,0.0,20.6,0,0,0,NaN
2,2020-06-26_19-39-32_camera102.csv,DataSet1,4,19,39,32,185.8,143.015.8,6.3,26.2,18.7,29.7,1.8,0.0,44.5,0,0,0,NaN
3,2020-06-26_19-42-41_camera102.csv,DataSet1,3,19,42,41,27.7,27.50.8,1.7,0.0,0.0,0.0,0.0,0.0,25.1,0,0,0,NaN
4,2020-06-26_20-09-27_camera102.csv,DataSet1,4,20,9,27,63.1,42.65.3,5.3,3.0,5.3,6.3,2.3,0.0,15.0,0,0,0,NaN

The Pauls data has missing values for `long_nails` and has an odd format to `washing_duration`. We believe that `washing_duration` and `movement_1` were accidentally combined. Below we will separate these columns in the Data Cleaning section.

In [3]:
print("Jurmala")
print(jurmala_df.shape)
jurmala_df.head()

Jurmala
(2427, 19)

,filename,location,num_annotators,time_h,time_min,time_sec,total_duration,washing_duration,movement_1,movement_2,movement_3,movement_4,movement_5,movement_6,movement_7,movement_0,ring,armband,long_nails
0,2020-09-27_04-22-11_camera100.avi-fix.mp4,Location_1,2,4,22,11,39.6,15.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.5,1,0,0
1,2020-09-27_06-22-44_camera100.avi-fix.mp4,Location_1,2,6,22,44,37.8,14.4,0.5,1.5,1.9,1.1,0.7,0.9,0.0,7.7,1,0,0
2,2020-09-27_06-44-04_camera100.avi-fix.mp4,Location_1,2,6,44,4,32.8,7.9,1.6,0.6,0.4,0.0,0.0,0.0,0.0,5.2,0,0,0
3,2020-09-27_06-58-39_camera100.avi-fix.mp4,Location_1,2,6,58,39,16.7,5.2,0.2,1.3,0.4,0.0,0.0,0.0,0.0,3.4,1,0,0
4,2020-09-27_07-04-00_camera100.avi-fix.mp4,Location_1,2,7,4,0,12.6,2.7,0.6,0.0,0.0,0.0,0.0,0.0,0.0,2.2,0,0,0

In [4]:
print("METC")
print(metc_df.shape)
metc_df.head()

METC
(212, 19)

,filename,location,num_annotators,time_h,time_min,time_sec,total_duration,washing_duration,movement_1,movement_2,movement_3,movement_4,movement_5,movement_6,movement_7,movement_0,ring,armband,long_nails
0,2021-06-30_09-56-19-11labots.mp4,Interface_number_1,1,9,56,19,67.5,67.5,9.4,11.1,10.4,10.8,10.1,9.6,0.0,6.2,0,0,0
1,2021-06-30_10-28-33-2-1+labots.mp4,Interface_number_1,1,10,28,33,88.0,88.0,13.6,13.1,13.0,13.8,12.8,14.2,0.0,7.7,0,0,0
2,2021-06-30_10-28-33-2-1_labots.mp4,Interface_number_1,1,10,28,33,88.0,88.0,13.6,13.1,13.0,13.8,12.8,14.2,0.0,7.7,0,0,0
3,2021-06-30_11-18-05-3-1.mp4,Interface_number_1,1,11,18,5,136.4,136.4,11.2,10.2,14.3,8.7,9.3,2.9,0.0,79.8,0,0,0
4,2021-06-30_11-37-29-4-1.mp4,Interface_number_1,1,11,37,29,80.9,80.9,9.4,9.8,9.6,9.6,9.6,9.7,0.0,23.1,0,0,0

## Data Cleaning
We noticed that in the Pauls dataset that their `washing_duration` and `movement_1` columns are concatenated.

In [5]:
# Only run if washing_duration contains two '.' (meaning it hasn't been fixed yet)
if pauls_df['washing_duration'].astype(str).str.contains(r'\..*\.').any():
    
    # Shift columns to the right (from movement_1 to armband). Work backwards to avoid overwriting.
    pauls_df['long_nails'] = pauls_df['armband']
    pauls_df['armband'] = pauls_df['ring']
    pauls_df['ring'] = pauls_df['movement_0']
    pauls_df['movement_0'] = pauls_df['movement_7']
    pauls_df['movement_7'] = pauls_df['movement_6']
    pauls_df['movement_6'] = pauls_df['movement_5']
    pauls_df['movement_5'] = pauls_df['movement_4']
    pauls_df['movement_4'] = pauls_df['movement_3']
    pauls_df['movement_3'] = pauls_df['movement_2']
    pauls_df['movement_2'] = pauls_df['movement_1']
    pauls_df['movement_1'] = None  # Clear movement_1 so it can be filled from washing_duration
    
    # Split 'washing_duration' - keep first decimal place, rest goes to movement_1
    split_data = pauls_df['washing_duration'].astype(str).str.extract(r'(\d+\.\d)(.*)')
    pauls_df['washing_duration'] = pd.to_numeric(split_data[0])
    pauls_df['movement_1'] = pd.to_numeric(split_data[1])

# Verification
print(pauls_df[['washing_duration', 'movement_1', 'movement_2', 'movement_3']].head())

   washing_duration  movement_1  movement_2  movement_3
0              32.7         1.1         2.4         2.1
1              31.6         3.4         1.9         2.0
2             143.0        15.8         6.3        26.2
3              27.5         0.8         1.7         0.0
4              42.6         5.3         5.3         3.0

There were also instances that we noticed where the duration of the duration of `movement_7` was equal to the `washing_duration`. It's highly unlikely that someone spent their entire handwashing time turning off a faucet with a towel, so we are excluding this data.

In [6]:
def remove_invalid_movement7(df):
    # Count rows before
    rows_before = len(df)
    
    # Remove rows where movement_7 equals washing_duration
    df_cleaned = df[df['movement_7'] != df['washing_duration']].copy()
    
    # Count rows removed
    rows_removed = rows_before - len(df_cleaned)
    
    print(f"Removed {rows_removed} rows where movement_7 = washing_duration")
    print(f"Remaining rows: {len(df_cleaned)}")
    
    return df_cleaned

# Verification
pauls_df = remove_invalid_movement7(pauls_df)
jurmala_df = remove_invalid_movement7(jurmala_df)
metc_df = remove_invalid_movement7(metc_df)

Removed 24 rows where movement_7 = washing_duration
Remaining rows: 3161
Removed 8 rows where movement_7 = washing_duration
Remaining rows: 2419
Removed 0 rows where movement_7 = washing_duration
Remaining rows: 212